<div class="footer-app" >
    <div class="pdp-tyc text-center py-4 bg-dark text-white " >
        <span class="txt-links d-block mb-3" (click)="avisoPrivacidad()">Política de privacidad</span>
        <span class="txt-links d-block mb-3" (click)="terminosCondiciones()">Términos y condiciones</span>
    </div>
    <div class="img-footer text-center mt-4 ">
        <span class="copy d-block mb-3">Carrera Eyewear &copy; 2025</span>
        <img src="/assets/images/liston-img.png" class="liston-img d-block mx-auto">
    </div>
  </div>